.DS_Store
Thumbs.db

.env
.env.local
.env.*.local
/.vscode/
/.idea/
/nbproject/

/vendor/
composer.lock

# Caché y logs
/storage/logs/
storage/framework/cache/
storage/framework/sessions/
storage/framework/views/
bootstrap/cache/

*.log
*.cache
*.swp
*.bak
*.tmp

Homestead.yaml
Homestead.json
Valet/
.phpunit.result.cache

public/uploads/
storage/app/public/

*.sublime-project
*.sublime-workspace
/.vscode/
/.idea/
/nbproject/

node_modules/
npm-debug.log
yarn-error.log

phpunit.xml
phpunit.xml.dist
/tests/_output/
tests/_support/_generated/

*.min.js
*.min.css
/build/
dist/

.phpstorm.meta.php
/.phpunit.result.cache

deploy/

mysql_data/